div {
    width: 570px;
    height: 326px;
    background-color: white;
    outline: 1px solid grey;
    margin-left: 25%;
}
li{
    margin: 10px ;
    margin-left: 150px
}
h4{
    margin-left: 150px;
    color:#244771;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 0.5em;
  }
  label {
    /* Определим размер и выравнивание */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
textarea {
  /* Убедимся, что все поля имеют одинаковые настройки шрифта
     По умолчанию в textarea используется моноширинный шрифт */
  font: 1em sans-serif;

  /* Определим размер полей */
  width: 150px;
  box-sizing: border-box;

  /* Стилизуем границы полей */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Дополнительная подсветка для элементов в фокусе */
  border-color: #000;
}

textarea {
  /* Выравним многострочные текстовые поля с их текстами-подсказками */
  vertical-align: top;

  /* Предоставим пространство для ввода текста */
  height: 5em;
}
span{
    margin-top: 5px;
}